.nav {
    list-style: none;
    text-align: center;
}
.nav li {
    display: inline;
    margin-right: 20px;
}
.container{
    width: 900 px;
    margin:0 auto;
    border: 1px solid black;
    padding: 50px;
    background-color: white;
}
.copy {
    font-size:25px;
    color:lightcoral;
    background-color:black;
}
#span1 {
    color:greenyellow;
    font: size px 16px;
}
#span2 {
    color:goldenrod;
    font-size:large
}
#span3 {
    color:firebrick;
    font: size 11px;
}
body {
    background-image: url("bakingwithtodd")
}